.boxing{
  font-family: 'Varela Round', sans-serif;
  margin: 2% 2%;
  padding: 4%;
}
form{
  background-color: #fffbfa ;
  border-radius:10%;
}
form h5{
  color: #f56c6d;
  font-weight:bolder;
  padding: 2%;
  text-align: center;
}

form h1{
  color: #f56c6d;
  font-weight:bolder;
  padding: 2%;
  text-align: center;
}
form h6 {
  color: red;
  font-size: 10px;

}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
form .shadowing {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.labling{
  color: grey;
}

@media only screen and (max-width: 678px) {
  form h5 {
  font-size: 1rem;
  }
